@using TodoListBlazor.Dtos


<div class="card h-100 @(Todo.isCompleted ? "border-success" : "")">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="Todo.isCompleted ? "text-decoration-line-through text-muted" : "">@Todo.Title</span>
        <span class="@Todo.PriorityBadgeClass">@Todo.PriorityName</span>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Todo.Description))
        {<p class="card-text text-muted small">@Todo.Description</p>}
        @if(Todo.DueDate.HasValue)
        {
            <p class="card-text">
                <small class="@(Todo.IsOverrdue ? "text-danger fw-bold" : "text-muted")">
                    @Todo.FormattedDueDate
                    @if(Todo.IsOverrdue)
                    {
                        <span>(En retard !)</span>
                    }
                </small>
            </p>
        }
        @if (Todo.isCompleted)
        {
            <span class="badge badge-success">Terminée</span>
        }

        <div class="btn-group w-100" role="group">


            <button class="btn btn-sm @(Todo.isCompleted ? "btn-outline-secondary" : "btn-outline-success")"
                    @onclick="() => OnToggle.InvokeAsync(Todo)"
                    title="@(Todo.isCompleted ? "Marquer à faire" : "Marquer terminée")">
                @(Todo.isCompleted ? "À faire" : "Terminer")
            </button>


            <button class="btn btn-sm btn-outline-primary"
                    @onclick="() => OnEdit.InvokeAsync(Todo)"
                    title="Modifier">
                Modifier
            </button>


            <button class="btn btn-sm btn-outline-danger"
                    @onclick="() => OnDelete.InvokeAsync(Todo)"
                    title="Supprimer">
            </button>

        </div>
    </div>

</div>

@code {
    [Parameter]
    public TodoItem Todo { get; set; } = new();

    [Parameter]
    public EventCallback<TodoItem> OnToggle { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnEdit { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnDelete { get; set; }


}
